@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #e5e5e5;
}

ul {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  padding: 10px 35px;
  background-color: #fff;
}

.fa-bars {
  font-size: 25px;
  color: #6070ff;
}

.navbar__logo {
  width: 50px;
  height: 50px;
}

.headline {
  padding: 90px 35px;
  border-bottom-left-radius: 90px;
  background-image: url(./assets/header-shapes\ mobile.svg);
  background-size: cover;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-color: #fff;
}

.headline__title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.headline__sub--title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.headline__para {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 0;
}

.headline__icons {
  padding-top: 12px;
  display: flex;
  align-items: start;
}

.headline__icon {
  margin-right: 12px;
}

.fa-twitter,
.fa-linkedin-in,
.fa-m,
.fa-github,
.fa-hand-peace {
  font-size: 26px;
  color: #505f79;
}

.works {
  display: grid;
  justify-content: center;
  background-color: #e5e5e5;
  padding: 140px 14px 140px 14px;
}

.works__container {
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 12px;
  margin: 16px 0px 72px 0px;
}

.works__img {
  width: 100%;
}

.works__text--title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  padding: 12px 0px 18px 0px;
}

.works__text--info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 20px;
}

.works__text--para {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.works__text--info-element {
  font-family: 'Poppins', sans-serif;
  color: #7a869a;
  font-style: normal;
  font-weight: 600;
  padding-right: 13px;
  font-size: 13px;
}

.works__text--info-element-main {
  font-family: 'Poppins', sans-serif;
  color: #344563;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.works__tech--stack {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 0;
}

.works__tech--stack--element {
  margin-right: 8px;
  background-color: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  padding: 4px 12px 4px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.works__button {
  padding: 12px 0;
}

.works__button--element {
  font-family: 'Poppins', sans-serif;
  border: 1px solid #386df2;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #386df2;
  background-color: #fff;
  padding: 12px;
  border-radius: 8px;
}