@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  padding: 10px 35px;
}

.fa-bars {
  font-size: 25px;
  color: #6070ff;
}

.navbar__logo {
  width: 50px;
  height: 50px;
}

.headline {
  background-image: url(./assets/header-shapes\ mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 90px 35px 90px 35px;
}

.headline__title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.headline__sub--title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.headline__para {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 0;
}

.headline__icons {
  padding-top: 12px;
  display: flex;
  align-items: start;
}

.headline__icon {
  margin-right: 12px;
}

.fa-twitter,
.fa-linkedin-in,
.fa-m,
.fa-github,
.fa-hand-peace {
  font-size: 26px;
  color: #505f79;
}
